@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', cursive;
}

header {
    background-image: url("../images/bg-dot.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
}

.bg-orange-light {
    background-color: #FFF9F4;
}

.text-orange {
    color: #FA804C;
}

.text-black {
    color: #363958;
}

.bg-black-light {
    background-color: #F1F1F1;
}