@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
    font-family: 'Exo 2', sans-serif;
}

header {
    background-image: url("../images/bg-dot.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
}

.bg-orange-light {
    background-color: #FFF9F4;
}

.text-orange {
    color: #FA804C;
}

.text-black {
    color: #363958;
}

.bg-black-light {
    background-color: #F1F1F1;
}

.left-side,
.right-side {
    width: 50%;
}

@media screen and (max-width: 768px) {

    .left-side,
    .right-side {
        width: 100%;
    }
}